<div class="card">
  <div class="card-header">
    <h5>Chọn phòng nhanh</h5>
  </div>
  <div class="card-body">
    <div class="fa fa-plus-circle fa-3x"></div>

    <div class="row">
      <div class="row col-md">
        <div class="col-md">
          Ngày đến
        </div>
        <div class="dropdown col-md">
          <%= form.text_field :arrival_date,
                              data: {
                                controller: "flatpickr",
                                flatpickr_date_format: "d/m/Y",
                                flatpickr_min_date: Time.zone.now
                              },
                              class: "form-select read-only-white",
                              placeholder: "Ngày đến"%>
        </div>
      </div>
      <div class="row col-md">
        <div class="col-md">
          Ngày đi
        </div>
        <div class="dropdown col-md">
          <%= form.text_field :leave_date,
                              data: {
                                controller: "flatpickr",
                                flatpickr_date_format: "d/m/Y",
                                flatpickr_min_date: Time.zone.now
                              },
                              class: "form-select read-only-white",
                              placeholder: "Ngày đi"%>

        </div>
      </div>
      <br>
    </div>
    <div class="row">
      <div class="row col-md">
        <div class="col-md">
          Loại phòng
        </div>
        <div class="dropdown col-md">
          <%= form.collection_select nil, RoomType.all, :id, :name,{include_blank: false, selected: params[:room_type_id]}, {class: 'form-select', id:'choose_room_type'}%>

        </div>
      </div>
      <div class="row col-md">
        <div class="col-md">
          Số lượng
        </div>
        <div class="dropdown col-md">
          <%= form.number_field :adults, in: 0 .. 20, class:"form-control" %>
        </div>
      </div>
      <br>
    </div>
    <div class="row">
      <div class="dropdown col-md-3">
      </div>
      <div class="dropdown col-md-3">
      </div>
      <div class="col-md">

      </div>
    </div>
    <span class="btn btn-primary">Chọn nhanh</span>
  </div>
</div>