<h1> Step 2</h1>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Tên khách</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field :client_name, class:"form-control", placeholder: "Nguyễn Văn A" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">CCCD</p>
      <div class="col-lg-7 form-group">
        <%= form.number_field   :client_citizen_id, class:"form-control", placeholder: "0123456789" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Loại phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_type_name, class:"form-control", readonly:true %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_name, class:"form-control", readonly:true %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>