

<%= render 'form', room_price: @room_price %>

<div class="bottom_container">
    <%= link_to room_prices_path do%><div class="functionality_add btn btn-primary">Quay lại</div><% end %>
    <%= link_to @room_price do%><div class="functionality_add btn btn-primary">Xem</div><% end %>
</div>
