<center><h1 class="title">Chỉnh sửa thông tin nhân viên</h1></center>

<%= render 'form', employee: @employee %>

<button class="button_back"><%= link_to 'Quay lại', employees_path %></button>
<button class="button_show"><%= link_to 'Xem', @employee %></button>



