<h1>Editing Employee</h1>

<%= render 'form', employee: @employee %>

<button class="button_back"><%= link_to 'Back', employees_path %></button>
<button class="button_show"><%= link_to 'Show', @employee %></button>



