
 
<%= render 'form', employee: @employee %>

<div class="bottom_container">
    <%= link_to employees_path do%><div class="functionality_add btn btn-primary">Quay lại</div><% end %>
    <%= link_to @employee do%><div class="functionality_add btn btn-primary">Xem</div><% end %>
</div>



