

<%= render 'form', client: @client %>

<div class="bottom_container">
    <%= link_to clients_path do%><div class="functionality_add btn btn-primary">Quay lại</div><% end %>
    <%= link_to @client do%><div class="functionality_add btn btn-primary">Xem</div><% end %>
  </div>