<div>
  <h1 class="h-100 d-flex justify-content-center">Welcome to our page !</h1>
  <div class="h-100 d-flex justify-content-center">
   <img src="https://previews.123rf.com/images/artinspiring/artinspiring1911/artinspiring191100576/133875813-vector-illustration-of-welcoming-concept-greeting-for-new-business-team.jpg"/>
  </div>
</div>