

<%= render 'form', room_type: @room_type %>

<div class="bottom_container">
    <%= link_to room_types_path do%><div class="functionality_add btn btn-primary">Quay lại</div><% end %>
    <%= link_to @room_type do%><div class="functionality_add btn btn-primary">Xem</div><% end %>
</div>