

<%= render 'form', room: @room %>

<div class="bottom_container">
    <%= link_to rooms_path do%><div class="functionality_add btn btn-primary">Quay lại</div><% end %>
    <%= link_to @room do%><div class="functionality_add btn btn-primary">Xem</div><% end %>
</div>
 