<div id="switcher" class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "Tầng", room_diagram_path(:filter => 1), class: "btn btn-primary", id: "switcher1" %>
  <%= link_to "Loại phòng", room_diagram_path(:filter => 2), class: "btn inactive", id: "switcher2" %>
</div>