<table class="table">
  <tbody>
  <tr>
    <td>
      <div class="d-flex justify-content-end">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
    <td>
      <div class="d-flex d-flex">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="d-flex d-flex justify-content-end">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
    <td>
      <div class="d-flex d-flex">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="d-flex d-flex justify-content-end">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
    <td>
      <div class="d-flex d-flex">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="d-flex justify-content-end">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
    <td>
      <div class="d-flex">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="d-flex justify-content-end">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
    <td>
      <div class="d-flex">
        <p class="col-3">Tên khách</p>
        <div class="col-7 form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Email helpers</small>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>