<%= form_with model: @reservation  do |form| %>
  <table class="table">
    <tbody>
    <tr>
      <td>
        <div class="d-flex justify-content-end">
          <p class="col-3">Tên khách</p>
          <div class="col-7 form-group">
            <%= form.text_field :client_name, class:"form-control", autofocus: true, placeholder: "Nguyễn Văn A" %>
<!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex d-flex">
          <p class="col-3">CCCD</p>
          <div class="col-7 form-group">
            <%= form.text_field :client_citizen_id, class:"form-control", autofocus: true, placeholder: "0123456789" %>
<!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex d-flex justify-content-end">
          <p class="col-3">Loại phòng</p>
          <div class="col-7 form-group">
            <%= form.text_field :room_type_id, class:"form-control", readonly:true, placeholder: @room_type_name %>
<!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex d-flex">
          <p class="col-3">Phòng</p>
          <div class="col-7 form-group">

            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Email helpers</small>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex d-flex justify-content-end">
          <p class="col-3">Tên khách</p>
          <div class="col-7 form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Email helpers</small>
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex d-flex">
          <p class="col-3">Tên khách</p>
          <div class="col-7 form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Email helpers</small>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex justify-content-end">
          <p class="col-3">Tên khách</p>
          <div class="col-7 form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Email helpers</small>
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <p class="col-3">Tên khách</p>
          <div class="col-7 form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Email helpers</small>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex justify-content-end">
          <p class="col-3">Tên khách</p>
          <div class="col-7 form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Email helpers</small>
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex">
          <p class="col-3">Tên khách</p>
          <div class="col-7 form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Email helpers</small>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>