<%= stylesheet_link_tag 'room_status_filter' %>
<div class="filter-wrapper">
  <%= link_to room_diagram_path(:room_status => "all"), id:"status1" do %>
    <span class="filter-item">
        Tất cả
    </span>
  <% end %>
  <% index = 1 %>
  <% if @room_statuses %>
    <% @room_statuses.each do |rs| %>
      <% id = "status" + index.to_s %>
      <%= link_to room_diagram_path(:room_status => index), id:id  do %>
        <span class="filter-item">
            <%= rs[:text] %>
        </span>
        <% index +=1 %>
      <% end %>
    <% end %>
  <% end %>


</div>