nav h1 a {
  color: white!important;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
nav div .btn-outline-primary{
  color: white;
  border-color: white;
}
.navbar-nav li a .fa{
  color: white;
}

.navbar-nav li div a .fa {
  color: black !important;
}
