// Place all the styles related to the room_diagram controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  height: 100% !important;
  //background: image-url("background.jpg") no-repeat !important;
  //background-size: cover !important;
}

.page-section{
  margin-bottom: 15px
}

#switcher .btn{
  border: 1px solid  #436bd5;
  width: 120px !important;
}

#switcher .inactive{
  background-color: white;
}

.room_section {
  background-color: white;
  border-radius: 15px;
}
.room-wrapper {
  width: 250px;
  margin: 0 16px 20px 0;

}

.room-wrapper .reservation-list {
  display: block;
  margin: -30px 0 0 0 ;
}

.room-wrapper .card {
  border: 1px solid  black;
  background-color: #ffffff;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.room-wrapper .card .card-body .card-text .dropdown .dropdown-menu{
  margin-top: -20px;
}

.room-wrapper .card .card-body .order-btn {
  justify-content: space-between;
}

.room-wrapper .card .card-body .order-btn .btn a {
  color: white !important;
}
.active-reservation .fa {
  margin-top: 10px;
}

.fa {
  margin-right: 10px;
}

.pushObject {
  transform: translate(0px, -70px);
  /* Enable hardware acceleration to fix laggy transitions */

  -webkit-transform: translate(0px, -70px);
  -ms-transform: translate(0px, -70px);
  -o-transform: translate(0px, -70px);
  -moz-transform: translate(0px, -70px);
  z-index: 99999;
}

.modal-bottom {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 50px 0 50px 0;
}

.modal-bottom .table {
  border: 0 white;

}
.modal-bottom .table tbody tr th {
  text-align: right;
  width: 50%;
  margin: 0;
  vertical-align: middle;
}
.modal-bottom .table tbody tr td {
  text-align: left;
  width: 50%;
}

.modal-bottom .rooms-btn {
  display: flex;
  justify-content: center;
}

.modal-bottom .room-btn {
  margin: 0 20px 0 20px;
}

.modal-bottom .room-btn .fa{
  margin-bottom: 5px;
}


@media (min-width: 1001px)
{
  .rooms {
    justify-content: center;
  }

}

@media (max-width: 1000px) and (min-width: 600px)
{
  .rooms {
    justify-content: left !important;
  }

}

@media (max-width: 1000px)
{
  .order-btn {
    flex-direction: column !important;
  }
  .order-btn .btn:first-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px)
{
  .rooms {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
    }
}
//#quickResModal .modal-dialog .modal-content .modal-body .row .col-6 .d-flex p {
//  padding-left: 15px;
//}
//#quickResModal .modal-dialog .modal-content .modal-body .row{
//  margin-top: 15px;
//}

.modal-lg {
  max-width: 70% !important;
}

#quickResModal .modal-dialog .modal-content .modal-body .row {
  margin-top: 5px;
}
.read-only-white {
  background-color: white !important;
}

@media (min-width: 900px){
  .end-row-md {
    justify-content: flex-end !important;
  }
}
