
.filter-wrapper {
  //display: flex;
  //flex-direction: row;
  justify-content: center;
  text-align: center;
  //flex-wrap: wrap;
  cursor: pointer;
}

.filter-wrapper a  {
  margin: 0 .5rem 0 .5rem;

  background-color: #436bd5;
  color: white;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  max-width: 120px;
}
[id="status1"] {
  background-color: #ffc8dd !important;
}
[id="status2"] {
  background-color: #00b4d8 !important;
}
[id="status3"] {
  background-color: #ff6b35 !important;
}
[id="status4"] {
  background-color: #ffc300 !important;
}
[id="status5"] {
  background-color: #b4c5e4 !important;
}