
.has-search .dropdown .btn::after {
  color: #436bd5 !important;
}
.has-search .dropdown .btn {
  padding-right: 25px;
  border: 1px solid  #ced4da;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}
.has-search.dropdown .btn:active{
  box-shadow: #436bd5;
}
@media (max-width: 575px)
{
  .has-search{
    width: 100%;
  }
  .has-search .dropdown{
    //width: 50%;
  }
  .has-search .dropdown button {
    text-align: left !important;
  }
  .has-search .dropdown .dropdown-toggle{
    width: 100%;
  }
  .dropdown-menu{
    width: 100% !important;
  }
  .has-search .form-group{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
  }
  .has-search .form-group .form-control-feedback {
    position: absolute;
    right: 15px;
    z-index: 2;
  }

  .has-search .dropdown .btn::after {
    right: 20px;
  }
}
@media (min-width: 576px)
{
  .searchbar {
    display: flex!important;
    justify-content: flex-end!important;
  }
  .has-search {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    justify-content: flex-end !important;

  }
  .has-search .form-group .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
  }

  .has-search .dropdown .btn::after {
    right: 10px;
  }
  .has-search .form-group input {
    //border-left: 0 solid #ced4da;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }
}

.has-search .dropdown {
  background-color: white;
}

.has-search .form-group .form-control-feedback {
  width: 2rem;
  line-height: 2.375rem;
  pointer-events: none;
  color: #436bd5;
}
