

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #07153a;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; }
#sidebar .h6 {
  color: #fff; }
#sidebar.active {
  margin-left: -250px; }
#sidebar.active .custom-menu {
  margin-right: -50px; }
#sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700; }
#sidebar h1 .logo {
  color: #fff; }
#sidebar ul.components {
  padding: 0; }
#sidebar ul li {
  font-size: 16px; }
#sidebar ul li > ul {
  margin-left: 10px; }
#sidebar ul li > ul li {
  font-size: 14px; }
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
  padding-top: 10px;
  padding-bottom: 10px;
}
#sidebar ul li h6 {
  padding-left: 1.5rem !important;
  text-transform: uppercase;
  color: #b7c6cf;
  font-size: 13px;
  padding-top: 15px;
}
#sidebar ul li ul{
  padding-bottom: 15px;
}
#sidebar ul li a:hover {
  color: #ffbd4a; }
#sidebar ul li.active > a {
  background: #070b14;
  border-left: 3px solid #ffbd4a;
  color: #ffffff;
}


@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -250px; }
  #sidebar.active {
    margin-left: 0; }
  #sidebar .custom-menu {
    margin-right: -50px !important;
    top: 10px !important; } }
#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
  #sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; } }
#sidebar .custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%; }
#sidebar .custom-menu .btn.btn-primary {
  background: #000000;
  border-color: #000000; }
#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
  background: #000000 !important;
  border-color: #000000 !important; }
